<div style="padding: 0 30px">
    <h3>Запросы на добавление чатов</h3>

    <table class="striped">
        <thead>
        <tr>
            <th>Ник пользователя</th>
            <th>Ссылка на чат</th>
            <th>Код направления</th>
            <th>Институт</th>
        </tr>
        </thead>
        <tbody id="requestsList">
        </tbody>
    </table>

    <ul id="pagination" class="pagination center-align">
    </ul>
</div>
