<div style="padding: 0 30px">
    <div class="valign-wrapper">
        <h3 style="width: 100%">Список институтов</h3>
        <a href="/admin/menu/add-institute" class="btn waves-effect waves-light right" style="margin-left: 20px;">
            Добавить институт
        </a>
    </div>

    <table class="striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Номер института</th>
        </tr>
        </thead>
        <tbody id="institutesList">
        </tbody>
    </table>

    <ul id="pagination" class="pagination center-align">
    </ul>
</div>
