<div style="padding: 0 30px">
    <h3>Список пользователей</h3>

    <table class="striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>ID чата в Telegram</th>
            <th>Уровень доступа</th>
            <th>Институт</th>
        </tr>
        </thead>
        <tbody id="usersList">
        </tbody>
    </table>

    <ul id="pagination" class="pagination center-align">
    </ul>
</div>
