<div class="card-container">
    <div class="card center" style="padding: 40px">
        <div>
            Для дальнейшей работы в приложении необходима авторизация.
            <br>
            Для авторизации будет отправлен запрос, который нужно подтвердить.
        </div>
        <div style="padding-top: 20px">
            <div id="auth-result-box" style="padding-bottom: 20px"></div>

            <div class="input-field">
                <input id="telegram-username" type="text" class="validate" required>
                <label for="telegram-username">Никнейм Telegram</label>
            </div>

            <a class="waves-effect waves-light btn-large auth-btn" onclick="auth(this)"><i class="material-icons right">send</i>Войти</a>
            <div id="auth-loader"></div>
        </div>
    </div>
</div>
