<div class="card-container">
    <div class="card" style="padding: 40px">
        <div>
            Вы действительно хотите выйти из приложения?
            <br>
            Для повторной авторизации нужно снова будет отправлять запрос и подтверждать его через бота
        </div>
        <div style="padding-top: 20px">
            <a class="waves-effect waves-light btn-flat right" href="/api/logout">Выйти</a>
            <a class="waves-effect waves-light btn-flat right" href="/">Остаться</a>
        </div>
    </div>
</div>
